[2019-02-26 17:13] erickrf opened #10 "Error training nuqe model"
When running `kiwi train --config experiments/train_nuqe.yaml` I ran into the following error:

[code]

The `.yaml` file only differed from the original in the path to the training data.

This happened with
 - macOS 10.14.2
 - OpenKiwi 0.1.0
 - Python 3.7.2

[2019-02-26 18:24] mtreviso commented on #10
Are you working with WMT19 data? If so, remember to add `wmt18-format: true` in your `.yaml` file if you are working with WMT18+ format (in this format it was added GAP tags, which are interleaved with MT tags in `.tags`).

[2019-02-26 19:21] erickrf commented on #10
Thanks, that fixed it.

[2019-02-26 19:21] #10 closed

[2019-03-12 19:03] erickrf opened #15 "Output format names are somewhat confusing"
The options for defining the output formats, `wmt18` and `wmt17`, can be somewhat confusing. I think something like `with-gaps` would be clearer, especially to newcomers to QE.

This is particularly misleading when running an evaluate config on source tags. If set to `wmt18`, the script will interpret that there are gap tags in the system output, which was not the case in WMT 2018.

[2019-03-13 13:21] captainvera opened #16 "Documentation missing for Logging Flags"
**Describe the bug**
Logging options are not showing in the automatic documentation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Docs
2. Configuration Options -> General Options
3. The logging flags are not documented

**Expected behavior**
These flags should also be captured by sphinx and displayed clearly in the documentation.

[2019-03-15 14:29] #16 closed

[2019-03-20 07:41] HqWu-HITCS opened #18 "Error training estimator model"
Hi~, thank you for releasing the code.

I got error when i training the estimator model( kiwi train --config experiments/train_estimator.yaml) as follow:

Traceback (most recent call last):
  File "/home/***/anaconda3/bin/kiwi", line 11, in <module>
    sys.exit(main())
  File "/home/***/anaconda3/lib/python3.6/site-packages/kiwi/__main__.py", line 22, in main
    return kiwi.cli.main.cli()
  File

[2019-03-20 16:21] captainvera commented on #18
Hey @HqWu-HITCS, thanks for experimenting with OpenKiwi.

I managed to reproduce your error.
The problem is that we hadn't considered the possibility of training the Estimator model **solely** for sentence level. A fix has been proposed in #19 and should be merged shortly.

[2019-03-22 14:44] captainvera commented on #18
This has now been merged. I will close the issue.
Feel free to re-open if you have any issues with the newest master.

[2019-03-22 14:44] #18 closed

[2019-03-22 15:57] erickrf opened #20 "Combining NuQE predictions for words and gaps"
When running NuQE predict, it outputs either target word tags or gap tags. In my workflow, I have to run a script afterwards to merge both correctly. Besides that, it outputs the binary tag probability instead of the tags themselves.

It would be great if there were a way to:
- run two NuQE models, one for words and the other for gaps, and it took care of merging the outputs.
- choose either tags

[2019-03-22 15:57] HqWu-HITCS commented on #18
Thank you very much~

[2019-04-16 08:42] VictorLi2017 opened #22 "Failed to conduct Predictor-Estimator predicting"
After training zh-en data with predictor model, I continued the predict step with following command:
`kiwi predict --model estimator --test-source /home/hzli/work/MTQE/CWMT_2018/zh-en/zh-en/dev/dev.source --test-target /home/hzli/work/MTQE/CWMT_2018/zh-en/zh-en/dev/dev.target --sentence-level True --gpu-id 0 --output-dir /home/hzli/work/MTQE/CWMT_2018/zh-en/zh-en/`
I got following errors:
[kiwi.li

[2019-04-16 10:08] captainvera commented on #22
Hey @VictorLi2017,
The way the predict pipeline works is by loading a pre-trained model and creating predictions for data where you don't have tags. Here, you forgot the step of loading the pre-trained model.
You need to pass a `--load-model [Path to model]` flag to the predict pipeline.

I also realised that this isn't addressed in the documentation and will update it 👍

Note: As a friendly remin

[2019-04-17 03:22] VictorLi2017 commented on #22
Hello @captainvera , following your guide, I added `--load-model` to above full command,
`kiwi predict --model estimator --test-source /home/hzli/work/MTQE/CWMT_2018/zh-en/zh-en/dev/dev.source --test-target /home/hzli/work/MTQE/CWMT_2018/zh-en/zh-en/dev/dev.target --sentence-level True --gpu-id 0 --output-dir /home/hzli/work/MTQE/CWMT_2018/zh-en/zh-en/ **--load-model /home/hzli/work/MTQE/CWMT_2018

[2019-04-17 14:58] trenous commented on #22
Hey @VictorLi2017 ,

I believe the issue is that the model you are loading is a `Predictor`, not an `Estimator`. Is that possible?
If so, train an `Estimator` with your pretrained `Predictor` (see [this section](https://unbabel.github.io/OpenKiwi/quickstart.html#estimator-model) in the docs, [example config](https://github.com/Unbabel/OpenKiwi/blob/master/experiments/train_estimator.yaml)) and the

[2019-04-18 05:50] VictorLi2017 commented on #22
Hello @trenous , Yes,  I think what I have trained is with `Predictor`. If not mistaken,  the QE pipeline includes three main stages: **Training, Predicting and Evaluation**, right?
I want to try the Predictor-Estimator model with official **Chinese-English** data. In the **training step**, I used `kiwi train --model predictor` and corresponding parameters, after 50 epoches, I got the `best_model.

[2019-04-18 11:00] trenous commented on #22
Hey,
The `predictor-estimator` model relies on pretraining of its component model `predictor`. This is what you did with the command `kiwi train --model predictor`. The resulting `best_model.torch` is **not** a QE model, but can be used to initialize an `estimator` model like so:

`kiwi train --model estimator --load-pred-target best_model.torch`

The pretraining step allows you to make use of any

[2019-04-20 11:03] VictorLi2017 commented on #22
Hello @trenous , I trained **sentence-level** QE with `predictor-estimator`, following your last guide, I ran
`kiwi train --config experiments/train_predictor.yaml`
successfully, and got the `best_model.torch`,
then I ran `kiwi train --config experiments/train_estimator.yaml`, but failed once again.
Here is the errors:
[train_estimator.yaml.txt](https://github.com/Unbabel/OpenKiwi/files/3100044/tr

[2019-04-20 11:28] VictorLi2017 commented on #22
@trenous PS: the train/dev data files include 4 files respectively: **train.source, train.target, train.pe and train.hter**, similar name formats like those in WMT sentence-level data.

[2019-04-22 07:40] Zachary-YL opened #23 "Error occurred while using sentence-level Predictor-Estimator to predict"
After successfully training the sentence-level `Predictor` and `Estimator` model，an error occurred while using the  `Estimator` model to predict the sentence-level data.

**The command is:**
`kiwi predict --config experiments_sl/predict_estimator.yaml`

**And the error is:**
2019-04-22 07:19:37.521 [kiwi.lib.predict setup:159] {'batch_size': 64,
 'config': 'experiments_sl/predict_estimator.yaml',

[2019-04-22 16:03] captainvera commented on #22
Hello @VictorLi2017 it is indeed extremely weird that your colleague can run it successfully on his machine. From the error messages it seems there was an error with data loading.
As a first step I would make sure the path to your data is correct and that there is no typo.

This issue is hard to diagnose based on the error message since the only information we're getting is that there was an error

[2019-04-22 18:59] ninalopatina opened #24 "missing WMT 2017 word_level/test.tags required for predictor-estimator evaluation"
**Describe the bug**
The WMT 2017 test data set is missing the word_level/test.tags file that is required for predictor-estimator evaluation

**To Reproduce**
Steps to reproduce the behavior:
1. Run everything in quickstart instructions for predest model (making corrections for typos + directory specifications)
2. Use data from WMT 2017, train + test (in specified directories)
3. Run kiwi evaluate

[2019-04-23 04:35] VictorLi2017 commented on #22
Hello @captainvera I'm sure that the path to the data is correct, I've already finished train_predictor step once again, but `train_estimator` step alway has the same error that **TypeError: 'NoneType' object is not subscriptable**
Attached is the train_estimator.log trained with `--debug`, please check it. Thank you!
[train_estimator.log](https://github.com/Unbabel/OpenKiwi/files/3105808/train_es

[2019-04-23 15:30] trenous commented on #23
Hello Zachary, I was not able to reproduce your bug. Can you verify that you are using the newest version of the repository? If you already do or that does not solve your problem, can you provide the trained model for us to analyze what is the problem?

Best

[2019-04-23 15:40] trenous commented on #22
@VictorLi2017 Can you run `git pull` and let us knwo if the error persists? We fixed a bug related to training sentence-level only models recently.

[2019-04-23 15:47] #24 closed

[2019-04-23 21:55] ninalopatina commented on #24
Thanks for looking into this so quickly. I had attempted to run this with the test data for 2017 & 2018, which I had obtained from the same site you linked. For both years, the test data includes only a .mt, .src, and .align file. There is no .tags file for either year, nor for 2016. Should I replace the test set links with dev set, to have a .tags files to evaluate with?

[2019-04-24 02:28] VictorLi2017 commented on #22
Hello @trenous the repo I used yesterday is already the latest version. I tried zh-en, en-zh pairs, even the official sentence-level data of WMT18, all resulted in the same error **TypeError: 'NoneType' object is not subscriptable** in `train_estimator` step.

[2019-04-24 06:02] Zachary-YL commented on #23
Thank you for your reply.
Here is the trained `Estimator` model.

[https://www.dropbox.com/s/ce9akwcvhs4tcbo/best_model.torch?dl=0](url)

My config file for training  `Estimator` model, and my config file for predicting.

[train_estimator_yaml.txt](https://github.com/Unbabel/OpenKiwi/files/3110631/train_estimator_yaml.txt)
[predict_estimator_yaml.txt](https://github.com/Unbabel/OpenKiwi/files/3110

[2019-04-24 12:35] BonjourDeutsch opened #25 "Can not find all five models."
Where is ape-qe?
I know my question is dump but please help me. I am a poor guy which can afford only one hour's time to use computer per day.
Now I have to go for feeding the sheep.

[2019-04-24 13:18] captainvera commented on #24
Hey @ninalopatina ! The .tags file is downloaded from a different location than the other test files. It's pointed out here:

![image](https://user-images.githubusercontent.com/5597178/56662216-63b0b580-669b-11e9-9f5a-9f64f8ddd792.png)

You can download the .tags from there and evaluate your model! You could also replace it with the dev set but (if you trained using the dev set as validation) that

[2019-04-24 13:29] captainvera commented on #23
Hi @Zachary-YL we will look into what is happening on the predict pipeline.

Meanwhile, the error that you're getting when training on a GPU just means that OpenKiwi is trying to allocate more memory than what is available on your GPU. This happens when the combination of Batch_size and N of tokens on a sentence is too large.

You can easily train using the GPU if you do one of two things (or both

[2019-04-24 18:20] ninalopatina commented on #24
Thanks so much, @captainvera, I missed those links! I was thinking to test out the pipeline with the dev data until the test data becomes available, but this will work much better

[2019-04-25 07:12] VictorLi2017 commented on #18
@HqWu-HITCS 你好！你之前提出的这个问题解决了吗？我现在训练estimator，也遇到了你同样的问题，TypeError: 'NoneType' object is not subscriptable，一直无法进行下去。。。

[2019-04-25 09:42] HqWu-HITCS commented on #18
作者后来修改了这个bug，更新代码后就好使了。

[2019-04-25 09:47] VictorLi2017 commented on #18
我用了最新版本的repo, 无论WMT的官方语料还是CWMT的汉英语料，训练句子级别的estimator总是不行。你用的什么语种的语料呢？方便分享一份你的config.yaml吗？非常感谢！

[2019-04-25 10:01] HqWu-HITCS commented on #18
WMT和CWMT我都用过，都没问题，以下是我的config

### Train Predictor Estimator ###

model: estimator
output-dir: runs/estimator_zhen_256

#### MODEL SPECIFIC OPTS ####

## ESTIMATOR ##

hidden-est: 256
rnn-layers-est: 2
dropout-est: 0.0
mlp-est: True

# Multitask Learning Settings #

token-level: True
sentence-level: True
sentence-ll: False
binary-level: False

# WMT 18 Format Settings #24

predict-target: False
pr

[2019-04-26 05:20] VictorLi2017 commented on #18
@HqWu-HITCS 谢谢～ 我新建了一个虚拟环境，重装了openkiwi,用你的config重新跑数据，还是卡在train_estimator了。错误依然还是NoneType object is not subscriptable……

[2019-04-26 07:41] VictorLi2017 commented on #18
@HqWu-HITCS 不好意思，再次打扰了~ 请问你后来用最新的repo把**整个QE的流程**都跑通了是吗？你是用哪种方式跑的？是命令行方式`kiwi train --config=train_estimator.yaml`
还是在py文件里调用的呢？
`import kiwi
estimator_config = 'train_estimator.yaml'
kiwi.train(estimator_config)`

我用了两种方式，始终都跑不通……

[2019-04-26 07:45] HqWu-HITCS commented on #18
我是用命令行跑的，都跑通了，但我是先跑完了predictor，后来发现不对，于是在上边提了issue，后来作者给更新了代码，我就也一样更新了下我本地的代码，接着跑的estimator，然后就可以了~

wuhuanqin@foxmail.com

From: Hongzheng Li
Date: 2019-04-26 15:41
To: Unbabel/OpenKiwi
CC: hqWu; Mention
Subject: Re: [Unbabel/OpenKiwi] Error training estimator model (#18)
@HqWu-HITCS 不好意思，再次打扰了~ 请问你后来用最新的repo把整个QE的流程都跑通了是吗？你是用哪种方式跑的？是命令行方式kiwi train --config=train_estimator.yaml
还是在py文件里调用的呢？
imp

[2019-04-26 07:47] Zachary-YL commented on #18
你好 @HqWu-HITCS ，我也正在跑`Predictor-Estimator`模型，训练部分没有问题，但是到了预测的那一步，发生了错误：

2019-04-22 07:19:37.521 [kiwi.lib.predict setup:159] {'batch_size': 64,
'config': 'experiments_sl/predict_estimator.yaml',
'debug': False,
'experiment_name': 'EN-ZH Pretrain Predictor',
'gpu_id': None,
'load_data': None,
'load_model': 'runs/0/464dc10bfc174ac79ca082eae0dea352/best_model.torch',
'load_vocab': None,
'log_interva

[2019-04-26 07:50] HqWu-HITCS commented on #18
没有遇到这个问题，我的predict_estimator.yaml 如下：

load-model: runs/estimator/best_model.torch
output-dir: test_data/estimator_test

sentence-level: true

gpu-id: 0

model: estimator

test-source: /home/.../QE/.../data/qe/.../test.src
test-target: /home/.../QE/.../data/qe/.../test.trg

wuhuanqin@foxmail.com

From: Zachary-YL
Date: 2019-04-26 15:47
To: Unbabel/OpenKiwi
CC: hqWu; Mention
Subject: Re: [Unbabel/O

[2019-04-26 08:09] VictorLi2017 commented on #18
你能再给我一份**train_predictor.yaml**的配置文件吗？多谢多谢！

[2019-04-26 12:12] Zachary-YL commented on #18
@HqWu-HITCS 你好，能告知一下你运行Openkiwi的Python版本吗？

[2019-04-26 15:52] captainvera commented on #18
Hey guys, could you please write in English so we understand what is going on and are able to help?

Thanks

[2019-04-26 16:06] VictorLi2017 commented on #18
@captainvera Sorry for that. We've been talking about the errors happened during the `train_estimator` and next `predictor` step, as discussed in #22 and #23, for #22 , the error **TypeError: 'NoneType' object is not subscriptable** always exists, even with the latest repo of the openkiwi toolkit.

[2019-04-27 06:38] Zachary-YL commented on #18
Hi @captainvera, as  VictorLi2017 said, I am talking about the errors happened during the `predictor` step, as discussed in #23, the error **Error(s) in loading state_dict for Estimator** always exists.

[2019-04-29 13:01] captainvera commented on #18
@VictorLi2017 @Zachary-YL  I understand. While it is excellent that you're trying to help each other with the issues, it is more beneficial if you keep it In English so we can all gain from the discussion! :)

On our end, we apologize but we are currently extremely busy internally. As such we will get back to you in a couple of weeks.

[2019-05-05 13:10] BonjourDeutsch opened #26 "Where is ape-qe and all its files?"
There are six files in directory "models":
    linear_word_qe_classifier.py -> linear model
    nuqe.py -> nuqe model
    predictor.py -> predictor part of predictor-estimator model
    predictor_estimator.py -> estimator part of predictor-esitmator model
    quetch.py -> quetch model
    utils.py -> all kinds of tools
    model.py -> the inlet to all models
But there is not a file accords to ape-

[2019-05-14 01:25] #25 closed

[2019-05-14 01:26] BonjourDeutsch commented on #25
This question has been answered in another issue.

[2019-05-14 01:28] BonjourDeutsch commented on #26
Thank you so much for your explanation. @captainvera
Now I know what I should do. Thank you a lot.

[2019-05-15 17:00] captainvera commented on #26
You are welcome, let me know if you have any other doubts!
I'm closing this issue for now.

[2019-05-15 17:00] #26 closed

[2019-05-23 15:25] HITHXX opened #27 "Questions about prediction results and evaluate module"
Hi! Thank you for the work you have done.

I'm working with the Predictor-Estimator model and I successfully trained the predictor and estimator model on both word level and sentence level. But I find the results a little bit different: tags for words are in the type of probability.

**I wonder how to transfer the probability into a binary tag like OK/BAD?** If there is a threshold, how much is it

[2019-05-25 01:17] trenous commented on #27
Hello HITHXX,

As you noticed the models in OpenKiwi predict a probability distribution over word tags. To transform these to tags, the most obvious decision threshold would be 0.5

The class [`ThresholdCalibrationMetric`](https://github.com/Unbabel/OpenKiwi/blob/4f32ca51f1167b3a11e772f9e7f9553da43db375/kiwi/metrics/metrics.py#L342)  chooses the threshold to optimize for the F1 metric. We found in

[2019-05-25 02:11] trenous commented on #23
Hello Zachary,

Sorry for the long delay in response, our team was busy with the WMT shared task.

I have run your predict-yaml with the model you provided (changing source and target to a toy file) and it worked fine without error.
Are you sure it is not a version issue? The first release of OpenKiwi was breaking when training for sentence level only.

[2019-05-25 02:28] trenous commented on #22
Hello VictorLi,

Sorry for the long response time our team was working on a deadline.

The line numbers in your log  file don't match the current version, e.g.:
[code]
If you look at the changes introduced in [this commit](https://github.com/Unbabel/OpenKiwi/commit/0a84eb8a575f0ca66e2e58d77d471127d4753e68#diff-bac7478430de63961ecf94b3689b8bd6L349)  - which addresses the bug you encountered - you'l

[2019-05-25 15:04] HITHXX commented on #27
Hello Sony:

Greatly appreciated your reply and attention. Now I know how to deal with the probability distributions.

I'm training the predictor with zh-en parallel corpora provided by CWMT 2018. As to QE training,  datasets are provided by [CCMT 2019](http://ccmt2019.jxnu.edu.cn/page/main1923/main.htm).

The output of the `evaluate` pipeline:

|     | Pearson r  | MAE | RMSE | Spearmanr | DeltaA

[2019-05-26 01:42] trenous commented on #27
Happy to Help :) I will change the default value of `sentence-ll` to `True`, it is unintuitive that you have to set the flag to get decent results. I will close the issue for now, but feel free to re-open it, or open a new one,  if you have further questions.

[2019-05-26 01:45] #27 closed

[2019-06-06 22:40] MiroFurtado opened #28 "Artificially generated triplets?"
Do you all have any plans to make the artificially generated training corpus referenced in your paper available publicly? I might be missing it, but I can't find that data on the repo.

I would like to reproduce the Openkiwi results from scratch, but without this , the dataset is very small.

Thanks!

[2019-06-06 22:41] MiroFurtado commented on #28
oops - didn't mean to tag as bug!

[2019-06-08 01:00] BUAAers opened #29 "IndexError: tuple index out of range while using sentence-level Predictor-Estimator to train"
After successfully training the sentence-level Predictor and then use it to train Estimator, I get an error named  IndexError: tuple index out of range ,the details are as follows：

[code]

in order to find the reason, I look up the /home/zwc/python-virtual-environments/env/lib/python3.6/site-packages/kiwi/metrics/metrics.py, and find the code around line 104:

#####**   the original code is :**
[

[2019-06-11 17:06] captainvera opened #30 "test_issue"
Hello, this is for testing gitlab integrations

[2019-06-11 17:07] #30 closed

[2019-06-11 17:21] captainvera commented on #28
Hello @MiroFurtado

First of all, thanks for your interest in OpenKiwi!

You are right, the artificially generated training corpus (with ~500k triplets) we reference on our paper is **not** available publicly. It is based on the in-domain German corpus provided by WMT which is what we used to pre-train the predictors. We provide a link for this corpus in our Quickstart section [here](https://unbab

[2019-06-11 18:25] MiroFurtado commented on #28
Great! Let me know what you end up deciding.

[2019-06-14 10:38] captainvera commented on #29
Hello @BUAAers

First of all, thanks for you interest in OpenKiwi! I'm going to address your last question first as it is the simplest one. Currently, we do not support multi-gpu setups, although it is on our roadmap for the future.

As for the reported bug, thanks for reporting it, we will look into it and get back to you!

[2019-06-14 14:53] captainvera commented on #29
Hello again,

I managed to reproduce your bug with a hand-made scalar tensor and I'm working on a fix for it. However, I couldn't find a way to reproduce your bug with any of the QE datasets I have available.

This seems to happen when, because of torchtext's bucket sampling there is a batch of only one sentence. We intended to flatten the predictions as a way to simplify comparison with the targe

[2019-06-17 11:03] trenous commented on #28
Actually the triplets are available in the data section on [this site](https://marian-nmt.github.io/examples/postedit/). The download there contains both the 500k triplets we used, and a larger corpus of 4 million triplets.

To generate QE tags from the triplets, you can follow the instructions in [this repository](https://github.com/Unbabel/word-level-qe-corpus-builder)

[2019-06-18 08:44] BUAAers commented on #29
Sorry, I didn’t respond to you in time. Thank you very much for your work. And I send the data to your email.

[2019-06-18 08:50] BUAAers commented on #29
At 2019-06-14 22:53:48, "Miguel Vera" <notifications@github.com> wrote:

Hello again,

I managed to reproduce your bug with a hand-made scalar tensor and I'm working on a fix for it. However, I couldn't find a way to reproduce your bug with any of the QE datasets I have available.

This seems to happen when, because of torchtext's bucket sampling there is a batch of only one sentence. We intended

[2019-06-18 08:56] BUAAers commented on #29
[data.zip](https://github.com/Unbabel/OpenKiwi/files/3300643/data.zip)

[2019-06-18 08:57] BUAAers commented on #29
@captainvera
[data.zip](https://github.com/Unbabel/OpenKiwi/files/3300647/data.zip)

[2019-06-18 10:16] captainvera commented on #29
No worries, I'll look into this and get back to you!

[2019-06-18 10:25] trenous commented on #28
Hello @MiroFurtado ,

I uploaded the missing tags and sentence scores for the artificial roundtrip data to our [releases](https://github.com/Unbabel/OpenKiwi/releases/download/0.1.1/500k.zip).

If you wanted to recreate these files using the repository I posted in my previous comment, you need to train a FastAlign model, which is used to generate the source tags. We trained FastAlign on the Englis

[2019-06-18 10:39] captainvera commented on #28
Closing this since the issue has been solved.

Feel free to reopen if you have any further questions @MiroFurtado

[2019-06-18 10:39] #28 closed

[2019-06-18 10:43] trenous commented on #22
I am closing this as it seems to be solved.

[2019-06-18 10:43] #22 closed

[2019-06-18 10:44] trenous commented on #23
I am closing this as it seems to be solved.

[2019-06-18 10:44] #23 closed

[2019-06-19 11:00] captainvera commented on #29
Hello @BUAAers,

Something must have gone wrong with the compression (or uploading) of these files. I can't open them neither with terminal utilities or with the Mac OS unarchiver.

This is the output of `unzip`:
[code]

This normally indicates a corrupt file or a zip that is missing another part (multi-part archives).
Could you please try to re-compress and re-upload your data?

Thanks in advance

[2019-06-20 06:00] Parkchanjun opened #31 "GPU ID"
I have some Qustion

I set the
gpu-id: "0 1 2 3 4 5 6 7"

But error is occurred
kiwi train: error: argument --gpu-id: invalid int value: '0 1 2 3 4 5 6 7'

How to set the multi GPU ID in OpenKIWI?

[2019-06-20 16:02] trenous commented on #31
Multi GPU training is not yet supported in OpenKiwi, that's why you get that error.

[2019-06-21 07:40] BUAAers commented on #29
[train_dev_data.zip](https://github.com/Unbabel/OpenKiwi/files/3313440/train_dev_data.zip)
If the data is still not available, please give me a private mailbox so I can transfer the txt file directly. Thanks for your work.
@captainvera

[2019-06-24 21:10] ninalopatina opened #32 "predictor-estimator crashes with Russian data"
**Describe the bug**
Estimator training crashes during training with WMT19 Russian data

**To Reproduce**
Steps to reproduce the behavior:
1. Switch data to WMT2019 Russian data
2. train predictor
3. train estimator
4. See error @ 22% of batches in first epoch, 53/236

**Expected behavior**
I expected the estimator to train the same way it had for the German datasets

**Screenshots**
2019-06-24 21

[2019-06-24 23:22] ninalopatina commented on #32
Nevermind, fixed this by adding a few specifications to the yaml

[2019-06-24 23:22] #32 closed

[2019-06-25 13:53] captainvera commented on #29
@BUAAers
Sorry for the delay in my response

This data is working perfectly! I will get back to you soon with a fix and explanation of the issue.
Thanks for your collaboration

[2019-06-25 14:00] captainvera opened #33 "Implement Multi-GPU training"
**Is your feature request related to a problem? Please describe.**
Currently, there is no solution to training QE models using multiple GPUs which can significantly speed up training of large models.
There are have been several issues of people requesting this feature.

**Describe the solution you'd like**
Ideally, it should be possible to pass several GPU IDs to the ```gpu-id``` yams flag. OpenKi

[2019-06-25 14:00] captainvera commented on #31
I'm closing this as it is not a bug.

I'm redirecting the requests to implement Multi-GPU training to #33

[2019-06-25 14:00] #31 closed

[2019-06-26 09:47] edufierro opened #34 "`inf` value for RMSE metric"
**Describe the bug**

Hi!

I'm training a estimator and I'm getting the following bug:

[code]

This comes after a warning:

[code]

It happened during training, after 16 epochs and after 500 batches of epoch 16.

**To Reproduce**
Both yaml files and data are not public. Let me know and I can share them with you.

**Expected behavior**
Finishes training for the 20 epochs I specified.

**Environmen

[2019-06-27 11:03] captainvera commented on #29
@BUAAers

Unfortunately, I was unable to reproduce the error that you report.
I used your yaml and your data and successfully completed 10 epochs of training. 😕

The only thing I changed in your config was the predictor, you load a pre-trained one and I just initialised a new one. This should have no effect in this particular issue.

As I mentioned previously, my best guess is that this error is c

[2019-06-27 11:12] captainvera commented on #34
Hello @edufierro,

I have been trying to reproduce your error with to no avail.
Can you try to reproduce this in your system and let me know If it happens again?

This error is happening in the RMSE metric code:

[code]

For the rmse to be infinite you the division `self.squared_error / self.tokens)` needs to be infinite. Since `self.tokens = get_tokens` can never be a decimal number, this must be

[2019-06-27 11:15] edufierro commented on #34
Will do. Thanks @captainvera & team!

[2019-06-28 15:31] damyana79 opened #35 "Failed to rerun predictor model"
**Describe the bug**

When I try to rerun an already trained predictor model I get:

~/.local/lib/python3.5/site-packages/kiwi/lib/train.py", line 187, in run
    logger.info(str(trainer.model))

 AttributeError: 'NoneType' object has no attribute 'model'

**To Reproduce**
I have trained the predictor model with the default configuration for 6 epochs and it ran fine. Then I tried to rerun it for a

[2019-07-01 15:45] captainvera commented on #35
Hello @damyana79

Thanks for reporting this issue! I'll look into this and get back to you soon.

[2019-07-01 15:47] captainvera commented on #34
Hey @edufierro,
since we're not able to reproduce this issue I'll be closing it for now.
If you get this error again or find any way to reproduce it, please feel free to re-open this!

[2019-07-01 15:47] #34 closed

[2019-07-01 15:48] captainvera commented on #29
Hey @BUAAers ,
since we're not able to reproduce this issue I'll close it for now.
If you find any way to reproduce it (or if this is reproducible in your system and you're still unable to finish training), please feel free to re-open this!

[2019-07-01 15:48] #29 closed

[2019-07-04 09:13] captainvera commented on #35
Hey @damyana79

I haven't been able to reproduce your issue with resuming. It seems to be happening because Kiwi cannot load the trainer and model from your previous run.
This means that for some reason it is looking in the wrong place. Would you mind sharing your output.log? This should be stored in the same folder as your model

[2019-07-04 09:26] captainvera commented on #35
However, I'll take this chance to clarify some details about model re-training. I believe our documentation is slightly misleading as it is.

There are two ways to continue to train a model: 1 - Resuming and 2 - Loading

**Resuming**
When you are resuming, you are retrieving the previous state of the trainer. This includes everything related to the training process including, for example, optimize

[2019-07-05 13:26] BUAAers commented on #29
@captainvera First of all, thank you very much for your work.
Secondly, my problem appears at the end of each epoch's 99% end instead of the training process, which is also very strange. So is it convenient to give me your train_estimator.yaml and train_predictor.yaml, and the size of paraller data: train-source and train-target, I want to see if it is a problem with some parameter settings.

![1]

[2019-07-06 14:12] BUAAers commented on #29
As you said, I set different parameters and this problem was solved. Thans very mach again.

[2019-07-09 14:22] captainvera commented on #35
This behaviour as been clarified and improved with #36.

I will now close this. Feel free to re-open if your problem continues!

[2019-07-09 14:22] #35 closed

[2019-07-18 13:37] BUAAers commented on #33
Whether it is a future work for you to implement multi-GPU training with DistributedDataParallel function.

[2019-07-19 10:06] captainvera commented on #33
I'm sorry, I'm not sure if I understood your comment @BUAAers. Are you asking for us to implement multi-GPU with DistributedDataParallel instead/in addition to implementing with the local DataParallel class?

[2019-08-26 08:59] soares-f opened #38 "Incompatibility with Torch 1.2"
**Describe the bug**
The following error is occurring when using openkiwi with PyTorch 1.2:

"Expected object of scalar type Byte but got scalar type Bool for argument #3 'other' "

The error happened for inference.

The same error does not occur with PyTorch 1.0.1

**Environment (please complete the following information):**
 - OS: Amazon Linux
 - OpenKiwi version: 0.1.1
 - Python version 3.6

[2019-08-26 14:31] #38 closed

[2019-09-13 10:49] zouharvi opened #40 "Word level QE reproduction"
As per the email we sent all of the paper authors we (@zouharvi, @obo) trained the predictor and then the estimator on our custom data, but the results were almost random.

**Describe the bug**
While trying to find the problem we tried to reproduce the WMT result based on your pre-trained models, as mentioned in the documentation. There must be some systematic mistake we're making because the pre-

[2019-09-13 11:21] captainvera commented on #40
Hey @zouharvi, thanks for your interest in OpenKiwi and the detailed issue!

I believe it is not an error that you're making but a misinterpretation of the results.
What we model is the probability of a word being `BAD` and not the probability of a word being `OK`. With that in mind, the results you're getting are completely expected 🙂

See below:

*Golden Tags* (removed gaps)
[code]

*Your result

[2019-09-13 11:41] zouharvi commented on #40
Thank you for your reply,

This is somewhat counterintuitive to what we expected from QuEst++ and deepQuest, but we're glad it has been resolved. The data now makes sense. :slightly_smiling_face:

We'll rerun our experiments on WMT17 _en\_de_ and our custom _cs\_de_ data and will let you know of the results (_cs\_de_ didn't work out the last time).

[2019-09-13 13:39] captainvera commented on #40
Great, glad I could help you guys.

I'll close the issue for now, but feel free to reopen it if you have any doubts about your results with the cs_de data!

[2019-09-13 13:39] #40 closed

[2019-10-02 12:10] sorami opened #42 "Plan to release other pre-trained models?"
Hi!

Do you have any plan to release pre-trained models other than En-De NMT?

[2019-10-02 18:13] captainvera commented on #42
Hello @sorami,

Yes, in the future we intend to release the models of our participation on WMT19.

That is: En-De/En-Ru/En-Fr NMT

Did you have anything specific in mind?

[2019-10-03 01:11] sorami commented on #42
Hi @captainvera , thank you very much for your reply!

Got it!

I was looking for De-En language pair (WMT18 De-En SMT).

[2019-10-04 11:23] captainvera commented on #42
Hi @sorami,

Let us discuss this, and I'll get back to you early next week 🙂

[2019-10-16 08:36] Bhavani01 opened #43 "GPU training crashes"
I have no problems training on a CPU. But when I train on a GPU it crashes every time.

2019-10-15 09:02:52.215 [root setup:380] This is run ID: 4d526700aafc4f5fba779bae21789a82
2019-10-15 09:02:52.215 [root setup:383] Inside experiment ID: 0 (EN-DE Pretrain Predictor)
2019-10-15 09:02:52.215 [root setup:386] Local output directory is: /ec/dgt/local/exodus/home/bhaskbh/gpu_train
2019-10-15 09:02:5

[2019-10-16 16:27] captainvera commented on #43
Hi @Bhavani01 !

This issue should have been fixed with #39. Can you specify which version of pytorch you're using so we can test appropriately?

Thanks!

[2019-11-04 09:33] Bhavani01 commented on #43
Is there any update on this? I now have the latest versions of of Kiwi and Pytorch. But the GPU training still fails. I also have an additional issue. The training on the CPU is fine but when I try to predict, it fails. It exits without giving an error. Pasting the log here. Any insights on what I could do differently? Thanks in advance.
2019-11-04 09:15:15.747 [kiwi.lib.predict setup:159] {'batch

[2019-11-04 14:29] captainvera commented on #43
Hi!
I'm really sorry about the late response, I let this slip through the cracks. I'll give you an update later today!

On the second issue, it is hard to diagnose through a stopped log, would you mind sharing the command/config of how you're running the prediction pipeline?

[2019-11-04 15:30] Bhavani01 commented on #43
experiment-name: predict-predest
output-dir: /ec/dgt/local/home/bhaskbh/test_data
seed: 42
#gpu-id: 0
model: estimator
sentence-level: True
binary-level: True
load-model: /ec/dgt/local/home/bhaskbh/new_train/best_model.torch
load-vocab: /ec/dgt/local/home/bhaskbh/new_train/vocab.torch
wmt18-format: False
test-source: /ec/dgt/local/home/bhaskbh/test_data/uuuu10k.en.txt
test-target: /ec/dgt/local/ho

[2019-11-04 18:28] captainvera commented on #43
Hi,

I have made a pull request #44 that should solve the issue at hand.
On your second issue, I'll get back to you soon. I was able to reproduce it and am working on a fix.

Miguel

[2019-11-04 21:05] kepler commented on #43
Hi @Bhavani01. Please let us know whether the current version of `master` solves the first issue.

[2019-11-05 10:16] Bhavani01 commented on #43
I re-installed it but it still crashes. This is the only difference in the output log.
**RuntimeError: Expected object of device type cuda but got device type cpu for argument #3 'other' in call to _th_iand_**

[2019-11-05 15:28] captainvera commented on #43
In the exact same line as before?
I'm having trouble reproducing this issue now, I'm using the exact same config as yours with pytorch 1.2.

As for your second issue, I can only reproduce this logging-but-no-output situation when running the predict pipeline with a *Predictor* and not a *Predictor-Estimator*. It should be noted that the Predictor is just a pre-training step and can't actually gene

[2019-11-05 17:49] Bhavani01 commented on #43
1. Yes, the same line with the addition of **in call to th_iand**
2. I did train an estimator and the log showed a successful training. Also checked the location of the model and I was pointing at the right model. I will test it again.

[2019-11-06 08:22] Bhavani01 commented on #43
Could it be because of this? I assumed _--load-pred-source_ was when I wanted to predict the source and similarly for _--load-pred-target_ but I now looked at the documentation again it says _--load-pred-target_ - _If set, model architecture and vocabulary parameters are ignored. Load pretrained predictor tgt->src._ Will let you know if this training is successful in 3 days. But the GPU problem st

[2019-11-06 20:03] captainvera commented on #43
Hmmm, I think you assumed the correct thing and our documentation is wrong. I'm going to confirm this but an initial look seems to indicate that _--load-pred-target_ is indeed used when predicting src -> tgt which is what I assume you want to do.

On the other hand, I'm not being able to reproduce your error with the gpu. I'm using python 3.6.8, latest version of openkiwi (installed from master, t

[2019-11-07 09:53] Bhavani01 commented on #43
I did test the config with the pretrained models. So, I guess there is something wrong with the model even though the training completed successfully. I am retraining now. Will test it again when completed. For the gpu issue, I will download from the master again this time instead of updating it, and test. I would be really grateful if you can confirm the --load-pred-target. Thanks

[2019-11-07 13:45] Bhavani01 commented on #43
I cloned the master again instead of pulling changes and the training on the GPU seems OK so far. Thanks. Will report about the other issue when I finish.

[2019-11-07 18:46] captainvera commented on #43
Nice! Glad to hear your problem has been solved :)

I confirmed the issue about the --load-pred-target and my suspicion was correct. It is used to load src -> tgt predictors. Our documentation has a mistake, thanks for pointing it out!

[2019-11-08 14:01] jimbogill opened #46 "Is it possible to train with just src, mt, ter?"
Hi,
Thanks for making openkiwi available!
Can any of the openkiwi models be trained when the only data available is
[source sentence], [machine translation sentence], [TER score]
? As far as I can tell all the examples need more data, for example the tags. But maybe I missed something.
Thanks,
James

[2019-11-11 14:52] captainvera commented on #46
Hi James!

Although this was something we never considered, we did have some requests about that and we added that functionality. This is the reason why all of the examples assume you would have more data. However, as I mentioned, you can train with just src, mt and TER.

To do so you need to specify the following in your config file (besides the rest of the parameters):

[code]

Keep in mind that

[2019-11-11 15:40] captainvera commented on #43
Hey, @Bhavani01 I'll take a look at this today and get back to you shortly!

I took the freedom to edit your comment to make it easier to read :)

[2019-11-12 12:29] captainvera commented on #43
I'm having problems reproducing your problem.

 I trained a small predictor with the example training config we make available on the repo and then trained an estimator with your config above.The only things I changed were the data (using WMT19) and the wmt18-format flag (since you're not predicting gaps and WMT19 has gaps and kiwi needs to know to filter them out).

Am I correct to you assume tha

[2019-11-12 14:02] Bhavani01 commented on #43
For the predictor I used the same config as my first comment. Other than saving best model, is there any other message to indicate successful training. Coz I say the predictor training was successful because it ran for 6 epochs and saved the best model.

[2019-11-12 14:43] captainvera commented on #43
Nope, that should be it. If you're getting reasonable results (Acc > 0.6) and the model is improving and finishes training without any error then yes, it is a successful training.

I've just finished training a predictor and an estimator with your configs (using WMT19 data on both, something done *solely* for testing purposes) and they both trained successfully.

With this, I can't really reproduc

[2019-11-12 14:47] Bhavani01 commented on #43
OK. I will try to train with the CPU and the WMT19 data.

[2019-11-12 14:54] Bhavani01 commented on #43
This is my error with the CPU:
Batches:   0%|                        | 1/5942 [00:37<62:35:24, 37.93s/ batches]Traceback (most recent call last):
  File "/ec/dgt/local/exodus/home/bhaskbh/OpenKiwi-master/env/bin/kiwi", line 11, in <module>
    load_entry_point('openkiwi', 'console_scripts', 'kiwi')()
  File "/ec/dgt/local/exodus/home/bhaskbh/OpenKiwi-master/kiwi/__main__.py", line 22, in main

[2019-11-12 15:00] captainvera commented on #43
Hmmm, this definitely seems to imply something weird with the data you're feeding into Kiwi, would you mind sharing a subset of this data?

Since this fails on the first batch, a couple of lines of each file should be enough for me to check what's going on!

[2019-11-12 16:28] Bhavani01 commented on #43
I suspect this has to do with the tags. Since I don't have human annotators I have a simple script to generate the labels from the alignments. A superficial glance seemed fine but I will check again. Will create a subset that is public domain and send it to you tomorrow. Thanks.

[2019-11-19 16:28] captainvera commented on #43
Hi @Bhavani01, has your issue been solved by regenerating/ repairing the data?

[2019-11-20 09:50] Bhavani01 commented on #43
I don't get the same error anymore after changing the TER scores. In the GPU training I get the "RuntimeError: CUDA out of memory." error even though I have more than enough memory and irrespective of the size of data I am training. I got a different error in the CPU training with the full dataset. Now I am running with a subsection of the data. It is still training.

[2019-11-20 12:04] captainvera commented on #43
That's good news.

On the GPU error, that is not related to the computer's memory but to the GPU memory. As such, it does not matter the size of the training data (that will fill the RAM but not the GPU), what matters is the _batch size_  and the number of tokens in each sentence.

My recommendations would be to decrease the batch_size (while adjusting the learning rate accordingly) and to use the

[2019-11-20 12:58] Bhavani01 commented on #43
I did try with batch size 32. I restrict the length of segments to 200 in my data cleaning. I will reduce it and test. Thanks.

[2019-11-25 02:41] BigBorg opened #47 "array must not contain infs or NaNs"
I am training estimator on an en-zh dataset. At first everything runs well. But after epoch 8, it says "array must not contain infs or NaNs" and exists. I don't know why this happen.

[2019-11-25 11:42] captainvera commented on #46
Closing this since there have been no updates, feel free to re-open if you have further questions!

[2019-11-25 11:42] #46 closed

[2019-11-27 16:00] captainvera commented on #47
Hello @BigBorg!

Can you provide a reproducible example using public data?
Ideally, a config and a small dataset that encountered this error would be amazing.

I would love to help, but it's hard to diagnose if I can't reproduce the issue :)

[2019-11-28 10:10] jimbogill commented on #46
Thanks Miguel. I successfully trained a predictor-estimator model on WMT data following your advice. I did this using a modified version of the config file in the experiments directory. In case it's useful, here are the modifications I made:

https://github.com/Unbabel/OpenKiwi/blob/715eba797ffbe461559002fc2927eb9cb416d7af/experiments/train_estimator.yaml#L32 Changed to true

https://github.com/Un

[2019-11-30 06:15] BigBorg commented on #47
Sorry the dataset is private. I might try some public dataset to see if this happens again.

[2019-11-30 15:49] trenous commented on #47
If you share the full stack trace and the config file you used, we might also be able to help.

[2019-12-06 14:22] francoishernandez commented on #33
Hi guys,
Just starting to get hands-on with your toolkit.
Multi GPU training would surely be useful to speed up experiments. Is this under active development on your side?
Thanks!

[2019-12-09 15:38] captainvera commented on #33
Hi @francoishernandez,

Yes, we paused development of this feature for a while, but as of right now it is under active development on our side.
We are making some structural changes to the Kiwi framework (mostly data-loading and how we handle that, see additional context of original issue [spoiler: it was a huge bottleneck]) and intend to bump the version shortly to include both these changes and

[2019-12-13 01:53] BigBorg commented on #47
Sending codes out from the company i work for is restricted. Turning off sentence-ll solves the problem. Is it possible that the error is 0 then becomes inf after log? Besides, sentence scores  produced by the model might be larger than 1, how do I interpret score?

[2019-12-13 10:21] Bhavani01 commented on #43
Hi, for the NuQE and Quetch trainings, the target is the MT output right? Not the reference or the post edit?

[2019-12-16 15:04] captainvera commented on #47
Understandable. It could indeed be the case, but it seems weird that we never encountered this error while training with our own data or with publicly available datasets... If the reason becomes clearer, please let us know.

On the second question, sentence scores are an attempt to predict TER (Translation Error Rate), or the distance that separates the current translation from a "perfect" transla

[2019-12-16 15:32] captainvera commented on #43
When training a QE model, target should always be MT. This applies to all models in OpenKiwi.

We normally refer to things with the following nomenclature:
Source - Text in the source language
Target - MT produced from Source

[2019-12-17 15:04] Bhavani01 commented on #43
Hi,
Even if I specify the gpu id, the predict config picks the cpu. Is there a way around this?

Thanks.
Bhavani

[2019-12-17 15:09] captainvera commented on #43
Hey @Bhavani01, that shouldn't happen, let me have a look into what's going on.

Also, I'd appreciate it if you could open new issues instead of continuing the conversation on this one! That way we can containerise topics and use these issues to help similar questions in the future.

[2019-12-17 15:12] Bhavani01 commented on #43
Got it. BTW the gpu issue was from my system, all my gpus were blocked. Sorry about that.

[2019-12-17 15:13] captainvera commented on #43
Are you talking about this last comment? So the predict pipeline is working as expected? 🙂

[2019-12-17 15:20] Bhavani01 commented on #43
Yes. I was outside the virtual env and the gpu was not visible to it.

[2019-12-17 15:21] captainvera commented on #43
Ah! Glad to know It's solved! I'll close this issue for now. Feel free to open a new one in case you have any further questions

[2019-12-17 15:21] #43 closed

[2019-12-19 02:30] BigBorg commented on #47
Thanks for reminding me to inspect training data. It does contain hter larger than 1. I don't know why tercom is producing such result. I might try python package pyter to generate hter.

[2019-12-19 16:52] trenous commented on #47
Tercom computes hter as
`(Edit Distance mt - pe ) / (len(pe))`

Thus if the MT is longer than the postedition, you can have an hter longer than 1 (this will typically be a case of MT repetitions / hallucinations). In the QE shared task, the scores are truncated to be at most 1.

The sentence-scores output by the model can be greater than 1 _if you turn off sentence-ll_.
[As you can see in the code

[2020-01-06 15:25] HanchengDeng opened #53 "Different servers to load the trained PredEst model issue"
Hello! @captainvera

I trained a PredEst model on a server, and I could use the "kiwi predict --config predict.yaml" to make a prediction perfectly.

Recently, I wanted to use the trained PredEst model to make a prediction on another new server, and I just moved the trained **best_model.torch** from the old server to the new one to make it work. However, it does not work and showed `[kiwi.lib.pred

[2020-01-06 19:14] captainvera commented on #53
Hello @HanchengDeng,

The behaviour you're describing is unexpected. There's no extra operation to make the trained model work on a new machine.

What could be happening is an unintended consequence of the saving behaviour we implemented in OpenKiwi.
You see, when you're training a model and you run the validation scoring the model is instantly saved if it is one of the best runs. If that is the c

[2020-01-07 09:05] HanchengDeng commented on #53
Thank you for your response. The issue had been solved already. I can make the trained model work on a new machine with no extra operation now. Ironically, it was the CPU limitation of my cloud server that led to the issue. I expanded the CPU size of the cloud server, and the trained model could work perfectly.

Thank you very much!

[2020-01-07 09:50] Bhavani01 opened #54 "Hi, I am trying to load the model once and then predict to stdout as the input is fed to stdin. I cannot find any module in the python package to do this."

[2020-01-07 12:52] captainvera commented on #53
Hmmm, I can't really understand how a CPU limitation might cause the trained model not to be able to predict..

I'm glad your issue is solved, please let me know if you gain some insight into why this happened!

[2020-01-07 13:07] captainvera commented on #54
Hey @Bhavani01,

We have no specific module for doing this. You would have to write a wrapper to our prediction interface to do this. You can find the documentation for our Python API, [here](https://unbabel.github.io/OpenKiwi/source/kiwi.predictors.html#module-kiwi.predictors.predictor). Note: Mind you I just spotted a small typo in our docs, the example should be a dict and not a list.

 You wou

[2020-01-13 07:50] #47 closed

[2020-01-13 08:09] BigBorg opened #55 "how fast is the predictor training supposed to be?"
I'm training predictor model on 10 million sentence pairs using gpu. Sentence length is limited to 1 to 50. Batch size is 128. According to the log, training for an epoch should taka about a day. Is this performance normal? What is the most time consuming nn layer?

[2020-01-14 17:14] captainvera commented on #55
To answer the question on the title of the issue: Not very fast.

That performance sounds about right. Performance was never the focus of the development of Openkiwi, especially training performance. To be honest I've never really profiled the performance of training a Kiwi model. I'd be *Very* interested in the results if you do so!

We are currently working on a refactor of kiwi which should bri

[2020-01-28 13:41] Bhavani01 commented on #54
Hi,
If we modiy the code to enable this, would you be willing to accept a pull request with the changes?
Thanks
Bhavani

[2020-01-29 23:21] captainvera commented on #54
Hey,
yes of course. As long as these things are done according to these [guidelines](https://github.com/Unbabel/OpenKiwi/blob/master/CONTRIBUTING.MD) we encourage contributions!

[2020-02-12 02:22] BigBorg opened #56 "Can i use openkiwi to do data cleaning?"
Can openkiwi model be used to filter dirty data from clean data? For example, if i have a dataset produced by crawler, can openkiwi be used to filter dirty sentence pairs from clean ones? My guess: the model predicts ter, but ter can't be used to classify sentences as clean or dirty. If a sentence has only one problematic word, ter might still be low since only one word is accounted. But if the wo

[2020-02-13 23:12] mzeidhassan opened #57 "Question about data"
Hello OpenKiwi team,
First, thanks for providing such good framework. It looks promising.

I have a question since I am a bit confused:

I only have source and target data (corpus.en, corpus.es). Is this enough to train a model? As far as I could understand from going through some threads, this should be enough to create a 'predictor' model, and maybe the predictor model can be used to train an 'e

[2020-02-23 16:00] zouharvi opened #59 "Unable to predict gap tags"
**Describe the bug**
In our research we wanted to use QUETCH/NuQE for baseline QE. It mostly works, but we were unable to start predicting gap tags (WMT18+).

**To Reproduce**
1. Download en-de WMT19 data (or WMT18)
2. Use the default quetch YAML config
3. Add `wmt18-format: true` and `predict-gaps: true`
4. See error

**Expected behavior**
QUETCH training.

**Encountered behavior**
[code]

**Addi

[2020-02-23 16:42] captainvera commented on #56
Hi @BigBorg,

What you are asking is an open research question :) as such, I can provide no definite answer.
Your logic and your intuition make sense to me. I would say the issue with TER could be alleviated with for example excluding sentences where `max(prob_bad_tags) > X` but again, this is an open question I do not have the answer for.

I would however, be very interested in your results if yo

[2020-02-23 16:49] captainvera commented on #57
Hi @mzeidhassan,

First of all, I'm sorry for my delayed response. What you are saying is absolutely correct. Be mindful however, that the predictor model is not an actual QE model (it cannot predict TER or word tags). It is merely a pretraining step or in other words, the first part of a two-part model the Predictor-Estimator.
The estimator is plugged on top of the predictor and uses the embeddin

[2020-02-24 13:48] captainvera commented on #59
Hey @zouharvi,
I've managed to reproduce your issue. Let me take a deeper look into this and I'll get back to you!

[2020-02-24 18:01] captainvera commented on #59
I've found the cause of this (bug). Unfortunately, in the current version of OpenKiwi, we do not support learning gaps + tags at the same time with the NuQE model.

The crash in particular happens because on the forward pass of NuQE you define the model_out as:
[code]

We're adding the same hidden state to whatever we assume the output to be. Then, when calculating loss (where your error message c

[2020-02-24 20:10] zouharvi commented on #59
Hi @captainvera, thank you for your response.

Can you give us a hint at how to train the gap-only model? When we drop every (2n+1)th tag (leaving only tags for gaps), the dimension error is still there (this time the difference is 1024).

[code]

In your 2019 paper (Table 1, WMT18 benchmarks), did you also have two separate models for MT and gaps? We are aiming at replicating your results, includ

[2020-02-25 16:03] captainvera commented on #59
Kiwi automatically knows which tags are gap tags. just settings `predict-target: false` and `wmt18-format: true` should be enough!

If you are talking about the Openkiwi paper, then yes. On our submission to the QE-shared task we were already using a slightly different version of Kiwi where we implemented target+gaps training.

[2020-02-25 17:28] zouharvi commented on #59
Thank you, predicting gaps now works as expected. We're looking forward to the upcoming changes.

[2020-02-25 17:28] #59 closed

[2020-02-25 18:02] mzeidhassan commented on #57
Thank you so much for your support @captainvera
I appreciate it.

[2020-02-27 07:03] prabhakar267 opened #60 "Error in predicting when using GPU for predictor-estimator"
**To Reproduce**

I used the following config for predicting using the predictor-estimator model and I got some error when using GPU. I'm using it on a multi GPU machine but want to run only on one GPU.
[code]

[code]

**Environment (please complete the following information):**
 - OS: Linux
 - `openkiwi==0.1.2`
 - `Python 3.6.2`

[2020-03-02 14:36] captainvera commented on #60
Hey @prabhakar267,

Sorry you're experiencing some issues.  Can you tell me which version of pytorch you are using? I cannot reproduce the issue with `openkiwi==0.1.2` and `torch > 1.1`.

[2020-03-03 07:11] prabhakar267 commented on #60
`
torch==1.4.0
`

[2020-03-04 21:48] captainvera commented on #60
Sorry for the late response. Unfortunately I haven't had the opportunity to test this. However I believe this issue has been fixed on #44. Can you try to install openkiwi from master?

I will test this shortly and tag a new version if my suspicions are confirmed.

[2020-03-05 06:49] prabhakar267 commented on #60
@captainvera I installed from master branch, the error message changed
[code]

[2020-03-05 16:13] captainvera commented on #60
Hey @prabhakar267,

What I did to try to reproduce your issue:

I installed openkiwi from master in a new virtual env.
Downloaded the pretrained models available [on the releases](https://github.com/Unbabel/OpenKiwi/releases).

Used this config:
[code]
I had no errors and was able to run the whole thing.

I then uninstalled openkiwi and pip installed it. Using the same config+model I was able to r

[2020-03-05 17:26] prabhakar267 commented on #60
[code]

[2020-03-16 17:41] captainvera commented on #57
hey @mzeidhassan can I close this issue?

[2020-03-17 01:02] mzeidhassan commented on #57
Thank you @captainvera for your kind follow-up. I am closing it now. Thanks again!

[2020-03-17 01:02] #57 closed

[2020-03-18 16:56] captainvera commented on #60
Hey @prabhakar267 , sorry for the late response. I was away from work.

Thanks for sending the example script! I wasn't considering that use case and though you were using kiwi as a terminal tool, not as a python package.

The variable you are calling model (like we do on our examples) is actually from the `Predicter` class. Furthermore, our code wasn't ready for a change of the `_device` variable

[2020-03-20 10:35] captainvera commented on #60
Hey @prabhakar267,

Changes have been merged to master :) let me know if you have any other problem,

Cheers

[2020-05-11 07:30] warlock2k opened #62 "Documentation: Can't find yaml configuration files for QUETCH"
Hi,

Could you share YAML files for training, prediction, and evaluation?

Achyuth

[2020-05-11 10:52] captainvera commented on #62
Hey Achyuth,

The config files for QUETCH are very similar to NuQE, since this model is based on QUETCH. We didn't make these files available as we didn't use QUETCH for our OpenKiwi paper submission.

If you take a look at [kiwi/cli/models/quetch.py](https://github.com/Unbabel/OpenKiwi/blob/master/kiwi/cli/models/quetch.py) you'll see that the options available are the same as in NuQE ([kiwi/cli/

[2020-05-11 12:04] warlock2k commented on #62
Aah, that sounds good. I'll follow these instructions. Is there any reason why QUETCH wasn't a part of the OpenKiwi submission? Is it because QUETCH is low performing when [compared](https://unbabel.github.io/OpenKiwi/reproduce.html) to others?

[2020-05-12 07:00] warlock2k commented on #62
@captainvera Also, could you kindly help with letting me know the inputs required for training a the NuQE predictor model. It is at the moment unclear and we are trying to train a NuQE model with our own data. Is there a simple document that explains what exactly the training module consumes if we consider that as a black box.

So far I gathered that these are the following files required for trai

[2020-05-12 16:58] captainvera commented on #62
Yes, exactly. Also, since it works similarly to NuQE, it didn't provide enough predictive variety to be worth including in the ensemble.

Well, to answer your question, I first need to disambiguate that the NuQE model and a predictor model are different things.  The Predictor model is part of a two-part QE model called Predictor-Estimator. This predictor is a pre-training step that became popular

[2020-05-12 20:48] warlock2k commented on #62
It all makes a lot more sense to me now, thanks for taking the time. Appreciate it!

[2020-05-13 10:23] captainvera commented on #62
No worries!
I will close this issue for now, feel free to open another if you have any other questions!

[2020-05-13 10:23] #62 closed

[2020-05-22 16:29] hcdeng6 opened #63 "How can I continue my predictor training when interrupted?"
Hi,
I am using a very large corpus to train a predictor, and I set 6 epochs totally. Each epoch costs me more than 24 hours because of the large-scale corpus. However, it seems that my machine could not stand such a heavy work and the program got interrupted two times when it was on the 4th epoch. However, restarting the kiwi program will waste the former epoch, so I wonder how I can get the check

[2020-05-25 08:17] kepler commented on #63
Hi @hcdeng6,

You should use the `--resume` flag and specify either `--output-dir` or `--run-uuid` to point to your partially trained model (https://unbabel.github.io/OpenKiwi/cli/train.html#training-save-load).

[2020-05-25 08:20] kepler commented on #60
@prabhakar267, let us know if this is not solved.

[2020-05-25 08:20] #60 closed

[2020-05-25 08:27] kepler commented on #56
Jumping in here.

Have you investigated this further, @BigBorg? My intuition is that dirty sentences will be badly tokenized, causing many words to be encoded as unknown, which in turn will make the QE model predict a high TER. If, however, the dirty sentences are not really that dirty, there's no straightforward way of detecting a "critical" word. It'll all depend on how you trained your model. A

[2020-05-25 08:27] #56 closed

[2020-06-01 10:16] andrasaponyi opened #64 "Vocabulary size for predictor training"
Hi,

First of all, thank you for OpenKiwi.

My question: when training the Predictor, what exactly are source-vocab-size and target-vocab-size supposed to mean: the number of (all) tokens or the number of unique words in the training corpora?

Perhaps adding this to the relevant docs page would be helpful to less experienced users of frameworks of this kind.

Best,
Andras (TAUS)

[2020-06-02 14:21] AriaChen opened #65 "Replacing the predictor by BERT or XLM to implement PREDEST-BERT and PREDEST-XLM?"
Hello,

Thank you very much for this OpenKiwi toolkit.

I am trying to reproduce the **section 2.6, Transfer Learning and Fine-Tuning** part in the [Unbabel’s paper](http://www.statmt.org/wmt19/pdf/54/WMT06.pdf)

It states that I can replace the predictor with multilingual BERT or XLM. I'm wondering how can I achieve that?

If I simply load the PyTorch version of BERT or XLM model in the `train_es

[2020-06-03 11:17] cyjack opened #66 "I have use quickstart ."
but i don't know how to give sentence score .dose it need word-leval score before do that .I use wmt2020 model from kiwi as the baseline.
http://www.statmt.org/wmt20/quality-estimation-task.html
the model execute but just give me that
{'batch_size': 64,
 'config': 'predict_estimator.yaml',
 'debug': False,
 'experiment_name': 'predict-predest',
 'gpu_id': 0,
 'load_data': None,
 'load_model': 'bes

[2020-07-08 19:13] danparamov opened #67 "Hyperparamete tuning using skorch"
Hello, I am trying to use Random Search for hyperparameter tuning using skorch. I am using RandomSearchCV to find the best hyperparameters when running my estimator yaml file, however because there are many wrappers, I can't get it to work.

My question is more general, do you have any experience with this? or might you know someone who has experience with this?

Thank you.

[2020-09-08 08:15] #64 closed

[2020-09-08 08:16] andrasaponyi commented on #65
Hi Aria,

I am also interested in trying this. Have you made any progress?

Best,
Andras

[2020-09-08 14:35] captainvera commented on #65
Hey Aria, Andras,

Sorry for my late response on this issue. When the original issue was opened we were hard at work for WMT20 and I missed it.

I have very good news on this matter. We are launching a new, revamped version of OpenKiwi later this week.
We are putting finishing touches on documentation and code cleaning.

This version of OpenKiwi will support training with BERT/XLM and XLMR and mak

[2020-09-08 14:37] captainvera commented on #66
Sorry, I didn't see this issue earlier.

Do you mind sharing your `predict_estimator.yaml` file?

[2020-09-08 14:39] captainvera commented on #67
Hey Dan,

I'm really sorry but I missed this issue!
Did you Make any progress with this? I would be very interested in knowing your results!

From our end, we have successfully implemented Hyper-parameter search on Kiwi, but using a library called [Optuna](https://optuna.org).

I can provide an example script if you're interested.

[2020-09-08 14:40] captainvera commented on #63
Hey @hcdeng6 I'm going to assume this issue has been solved.

Feel free to re-open if you still have problems

[2020-09-08 14:40] #63 closed

[2020-09-08 14:40] captainvera commented on #53
This issue has been solved.

Feel free to re-open if you still have problems

[2020-09-08 14:40] #53 closed

[2020-09-08 14:42] captainvera commented on #55
Closing. Feel free to open another issue in case you have questions

[2020-09-08 14:42] #55 closed

[2020-09-08 15:11] andrasaponyi commented on #65
Hi Miguel,

Thanks, that is great news indeed! I'm looking forward to the new version.

Best,
Andras

[2020-09-15 16:45] captainvera commented on #65
Hi Andras,

Wanted to keep you updated on this. The final wave of bug squishing is taking a bit longer than we had anticipated, so look for the release this week :)

Sorry for the delay!

[2020-09-16 07:22] andrasaponyi commented on #65
Thanks, that sounds great!

[2020-09-30 13:15] captainvera commented on #65
Version 2.0.0 has been released, including PREDEST-{BERT/XLM/XLMR}.

Closing this issue

[2020-09-30 13:15] #65 closed

[2020-09-30 13:18] captainvera commented on #33
Update on this.

Our initial impression was that we'd get Multi-gpu for "free" by adopting Pytorch-Lightning. Unfortunately while it does make it much easier to support. There are issues with metrics calculation (calculating corpus-level metrics when data is separated through the gpus) which made it harder to implement.

This is not a priority for us and has been paused from our side.

In case any

[2020-09-30 21:25] danparamov commented on #67
Hi Miguel,

Sorry for the late reply.

To tell you the truth, I haven't been able to make it work using skorch. I
would love to get your take on it, here is the code
<https://github.com/danparamov/Quality_Estimation_WMT20> I have implemented
to do the random search on kiwi.

Please let me know if you have any questions. It will be great if we can
meet and discuss about this one of these days, let

[2020-10-01 07:36] andrasaponyi commented on #65
Thank you!

[2020-10-06 15:10] andrasaponyi opened #69 "Pre-trained models for v. 2.0.0"
Hi,

When trying to make predictions with a previously released pre-trained model (the EN-DE NMT Estimator included in release 0.1.1.), I noticed that loading models trained with the previous version of OpenKiwi is not quite straightforward. At this point, I'm not sure if the error I'm running into is a bug or if I'm doing something wrong, hence my question:

Are you planning to release more pre-t

[2020-10-07 14:29] #69 closed

[2020-10-13 11:01] daandouwe opened #71 "Add Streamlit demo"
This demo created with [Streamlit](http://streamlit.io) let's you inspect the predictions of a Kiwi model.

[2020-10-21 05:09] Shannen3206 opened #75 "TypeError: metaclass conflict: the metaclass of a derived class must be a (non-strict) subclass of the metaclasses of all its bases"
**Describe the bug**
TypeError: metaclass conflict: the metaclass of a derived class must be a (non-strict) subclass of the metaclasses of all its bases

**To Reproduce**
1. Creat a new file: run.py
[code]
and then execute this program
2、See error
TypeError: metaclass conflict: the metaclass of a derived class must be a (non-strict) subclass of the metaclasses of all its bases

**Expected behavior

[2020-10-21 13:50] captainvera commented on #75
Hello @Shannen3206,

How did you install kiwi 2.0.0 on python 3.6.9?  Kiwi 2.0.0 requires python >=3.7

I tried reproducing your code on 3.7 and found another bug, being fixed in #76 which should be merged shortly.

Let me know if you have any other problems

[2020-10-21 13:54] daandouwe commented on #66
Closed due to inactivity.

[2020-10-21 13:54] #66 closed

[2020-10-21 14:06] captainvera commented on #75
I see you can install openkiwi on 3.6 using pip, but it is unfortunately not supported.

[2020-10-21 15:10] Shannen3206 commented on #75
Python3.7 version solves the previous problem. Thank you very much!

[2020-10-25 11:39] daandouwe opened #77 "Add alignment prediction with SimAlign"
### Why?
[SimAlign](https://github.com/cisnlp/simalign) is an amazingly simple and effective way of obtaining from multilingual Transformer encoders. OpenKiwi is built on top of multilingual Transformers. Hence OpenKiwi can produce alignments.

The training objective of OpenKiwi might even improve the alignments.

### How?
Two options:

#### Pip install
We add SimAlign to the dependencies, and imp

[2020-10-27 14:18] daandouwe commented on #75
Issue closed because it has been resolved.

[2020-10-27 14:18] #75 closed

[2020-10-27 14:19] daandouwe commented on #15
Closed because resoled with Kiwi v2.

[2020-10-27 14:19] #15 closed

[2020-10-27 14:20] daandouwe commented on #54
Closed due to inactivity.

[2020-10-27 14:20] #54 closed

[2020-11-06 10:43] knikolaou48 opened #79 "Unable to start openkiwi"
I am unable to run to start openkiwi it seems that I have properly installed everything needed.

When I try to load the example typing kiwi --example I get the following message

(base) C:\Users\Administrator>kiwi --example
Traceback (most recent call last):
  File "c:\users\administrator\anaconda3\lib\runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  Fil

[2020-11-06 12:09] captainvera commented on #79
Hi @knikolaou48,

I am assuming you installed from master?

I was able to reproduce your bug on the latest master. It was introduced in #76.
Kiwi should be working fully except for the --example command. You can test this by running `kiwi train -h`.

I will make a PR to fix this, thanks for bringing it to our attention!

[2020-11-10 06:31] iamhere1 opened #81 "Error happened when running demo"
**Describe the bug**
When I run the demo according to "https://unbabel.github.io/OpenKiwi/usage.html",
I run the folloing script,
" from kiwi.lib.train import train_from_file "
then error happend:

![image](https://user-images.githubusercontent.com/8308024/98636088-1c634600-2361-11eb-8f2d-d3bf0db9272b.png)

**To Reproduce**
Steps to reproduce the behavior:
1. python
2. from kiwi.lib.train import t

[2020-11-10 08:54] daandouwe commented on #81
Hey @iamhere1,

Unfortunately, (for this reason ;)) OpenKiwi is not supported with Python<3.7. Could you try to reinstall with Python 3.7 or 3.8 and try again?

[2020-11-11 11:42] daandouwe opened #82 "Evaluate pipeline cannot deal with `verbose` and `quiet` arguments"
**Describe the bug**
The evaluate pipeline cannot be used: it is missing configuration arguments `quiet` and `verbose` and Pydantic throws an error.

**To Reproduce**
[code]
with `evaluate.yaml`:
[code]

[2020-11-12 11:16] #67 closed

[2020-11-12 11:18] #82 closed

[2020-11-12 11:37] iamhere1 commented on #81
Hi @deandouwe,
Thank you for your replay. I'm sorry to reply so late. I have some urgent matters to deal with these two days. I have tried to use python 3.7.9,  this problem disappeared. Howerver, another problem appeared, do I need to install some pakage to solve this?
![Uploading image.png…]()

[2020-11-12 11:43] #79 closed

[2020-11-12 11:48] daandouwe commented on #81
No problem! Oh that's a strange error - Transformers is a core package for OpenKiwi.

I just checked and it is in the dependencies (it did not disappear all of a sudden, that would have been very bad 😅 ): https://github.com/Unbabel/OpenKiwi/blob/master/pyproject.toml#L40

Did you maybe get an error when installing? Are you installing using poetry or using pip?

A quick solution for your problem (a

[2020-11-12 11:57] captainvera opened #84 "Relative links break when displayed in docs"
**Describe the bug**
Relative links to files, which are common in the README, break when rendered in the docs.

**To Reproduce**
Go to [docs](https://unbabel.github.io/OpenKiwi/) and click on the changelog link in the news section.

**Expected behavior**
Should take you to a nice doc or the correct file.

**Screenshots**
<img width="720" alt="image" src="https://user-images.githubusercontent.com/5

[2020-11-12 12:04] daandouwe commented on #81
Did you solve the issue? I can't see the message anymore.

[2020-11-12 12:12] iamhere1 commented on #81
hi @daandouwe,
Thank you very much. I'm sorry to reply so late. I have some urgent matter to deal with these two days.
I tried using python 3.7,  and installed some pakages, now it works.
Thank again for your help!

[2020-11-12 12:14] iamhere1 commented on #81
Yeah, I did this and it is solved now,  Thank you.

[2020-11-12 12:14] daandouwe commented on #81
Nice that it's now working!

But you steel needed to do an additional manual install of transformers?

[2020-11-12 12:18] iamhere1 commented on #81
Yeah, thank you very much!  And thank you for the great contribution!

[2020-11-12 12:29] #81 closed

[2020-11-12 12:52] #84 closed

[2020-11-12 16:06] daandouwe commented on #20
Close because no longer applicable.

[2020-11-12 16:06] #20 closed

[2020-11-12 16:06] daandouwe commented on #71
This has been implemented in [OpenKiwiTasting](https://github.com/Unbabel/OpenKiwiTasting).

[2020-11-12 16:06] #71 closed

[2020-11-12 16:48] daandouwe opened #87 "Calibration and active learning with Baal"
[Baal](https://baal.readthedocs.io/en/latest/index.html) looks pretty cool.

Let's see if we can use it to select data for more training (active learning) or model calibration (so the predicted probabilities are more meaningul).

[2020-11-13 12:50] daandouwe opened #88 "Add transformer fine-tuning with Adapters"
[Adapters](https://arxiv.org/pdf/1902.00751.pdf) are pretty cool. Let's see if we can implement them for our Transformer encoder models by integrating with [Adapter Transformers](https://github.com/Adapter-Hub/adapter-transformers).

A particular cool extension would be [AdapterFusion](https://arxiv.org/pdf/2005.00247.pdf), which would allow us to glue together Kiwi Adapter Transformer models for

[2020-11-20 10:35] iamhere1 opened #91 "training failed when only predicting source tags"
When I run the experiment with training bert based qe models and predicting only the source tags, it failed after reporting for the metric on validation dataset. The error occured as below. It seems the function "self.monitor_op(current - self.min_delta, self.best)" could only run on cpu. But when I run the training process and predicting all the source tags, target tags and the other tags, the tr

[2020-11-20 16:03] daandouwe commented on #91
This is interesting, thank you. I believe we have never trained on just source tags, so that must be why we have never encountered this error before. Thank you for reporting it.

Let me just setup a little experiment to try and reproduce this, and will report to you when I understand how this could be fixed.

[2020-11-20 16:21] daandouwe commented on #91
I just tried to train Bert and XLM-R based models on GPU with predicting just source tags, and did not encounter this problem. I used

[code]
and
[code]

Could you share (the relevant parts of) your config? For example, what is `main_metric` that you are using?

[2020-11-20 16:29] iamhere1 commented on #91
Thank you for your help, I use source_tags_F1_MULT and source_tags_CORRECT as my main metric, and the sentence level tag is not predicted in my experiment.  The relevant parts in my config are as following.

    outputs:
            ####################################################
            # Output options configure the downstream tasks the
            #  model will be trained on by adding

[2020-11-20 17:14] iamhere1 commented on #91
Hi, @daandouwe
I tried to replace the code in callbacks.py like this, and it seems worked now

        # mode_dict = {
        #     'min': np.less,
        #     'max': np.greater,
        #     'auto': np.greater if 'acc' in self.monitor else np.less,
        # }
        mode_dict = {
            'min': torch.lt,
            'max': torch.gt,
            'auto': torch.gt if 'acc' in self.monitor

[2020-11-20 17:14] daandouwe commented on #91
Thanks!

Turns out that the problem is caused by the fact that not all the metric values have been moved to CPU.

Inspecting the values in the dictionary `metrics` in https://github.com/Unbabel/OpenKiwi/blob/master/kiwi/training/callbacks.py#L94 tells us the following:

[code]
This is also the reason that main metric `source_tags_MCC` works but `source_tags_CORRECT` does not. (I believe this flew

[2020-11-20 17:15] iamhere1 commented on #91
Yes, Thank you for your help!  And to replace the fuctions of numpy with the operation of pytorch, maybe another solution?

[2020-11-20 17:33] iamhere1 commented on #91
Yeah, that's more reasonable. Thank you!

[2020-11-20 17:41] daandouwe commented on #91
You could edit
[code]
to
[code]
in https://github.com/Unbabel/OpenKiwi/blob/master/kiwi/training/callbacks.py#L96 (in your local kiwi path).

I tried this and it worked, but of course it's not as nice as dealing with the problem at the root ;). We'll keep you updated on that.

[2020-11-21 08:54] iamhere1 commented on #91
OK, thanks for your help, now it's woking.

[2021-01-13 16:29] captainvera commented on #91
Hey @iamhere1,

I'm glad it's working, closing this issue due to inactivity.

[2021-01-13 16:29] #91 closed, assigned to nobody

[2021-03-01 17:09] lluisg opened #92 "Poor results when training Estimator with parallel data and TER scores"
Hi!

We are trying to train a EN-FR sentence level QE model by using a predictor estimator model with parallel data.

We are using OpenKiwi 0.1.3 to train it.

The procedure was as follows:
1. Train the Predictor using parallel data (EN-FR)
2. Train the Estimator using the Predictor (from step 1) using the following data (as commented in thread https://github.com/Unbabel/OpenKiwi/issues/46):
	a.th

[2021-03-15 06:20] leileilin opened #93 "openkiwi version"
**Describe the bug**
when i use command pip install opnekiwi, and then i check the version of openkiwi, it is just 0.1.3. But I think there is already version 2.0.0. so anyone can tell me what cause that ?
Thank you.

[2021-03-15 06:46] zhaofuchen commented on #93
firstly you can uninstall openkiwi：
          pip uninstall openkiwi
then try to use command：
         pip install openkiwi==2.1.0

[2021-03-15 10:38] leileilin commented on #93
i have tried the above comand, it will cause error which is Could not find a version

[2021-03-16 12:39] leileilin opened #94 "some confusions"
i have read the documentation of openkiwi. in the predictor training of Train interface, i dont see any hyperparameters about how to change rnn with bert, anyone can tell me how to that?
thank you.

[2021-03-16 13:01] #93 closed, assigned to nobody

[2021-03-16 14:24] #94 closed, assigned to nobody

[2021-03-16 14:30] leileilin opened #95 "some problems about data without alignments"
i chage the data.yaml, just delete the alignments of it.
and i get the following error.
KeyError: 'alignments'
anyone can tell me if i dont have alignments, how to train it?
thank you.

[2021-03-17 03:21] zhaofuchen commented on #95
对齐文件是必须的，否则无法训练。你可以使用下面项目制作对齐文件：
https://github.com/Unbabel/word-level-qe-corpus-builder

[2021-03-17 06:00] leileilin commented on #95
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

        你好，我已经在有对齐文件的条件下训练了nuqe模型，但是为什么预测的时候也要对齐吗？
        因为我在预测源句子和翻译句子的时候报了一样的错误。非常感谢！

                                1299192319

                                    ***@***.***

        签名由
        网易邮箱大师
        定制

    On 3/17/2021 ***@***.***> wrote：

对齐文件是必须的，否则无法训练。你可

[2021-03-17 06:04] zhaofuchen commented on #95
训练和预测输入的数据是一样的，本质上预测就是使用已训练好的模型参数。
所以预测也需要对齐信息。

[2021-03-17 06:12] leileilin commented on #95
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

    那我问一下，就是OpenKiwi框架里的所有模型的训练和预测输入的数据都需要对齐数据吗？还是只有nuqe需要？非常感谢！

                                1299192319

                                    ***@***.***

        签名由
        网易邮箱大师
        定制

    On 3/17/2021 ***@***.***> wrote：

训练和预测输入的数据是一样的，本质上预测就是使用已训练好的模型参数。

所以预测也需要

[2021-03-17 06:28] zhaofuchen commented on #95
全部都需要，个人建议你别折腾nuqe了，这个模型效果没有其他的好。还有就是 estimator-predictor模型预训练官方有训练好的模型，不要自己训练。你找找看，我不记得了。
BERT，XLM，XLM-Roberta这三个模型是基于transformers实现的，目前效果比较好。

[2021-03-17 06:59] leileilin commented on #95
好的，谢谢！------------------&nbsp;原始邮件&nbsp;------------------
***@***.***&gt;
发送时间:&nbsp;2021年3月17日(星期三) 下午2:28
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [Unbabel/OpenKiwi] some problems about data without alignments (#95)

[2021-03-20 06:26] #95 closed, assigned to nobody

[2021-03-22 04:51] leileilin commented on #95
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

    你好，当我用BERT和XLM-R训练的时候，总是会报错：

        PicklingError: Can't pickle <class 'kiwi.data.encoders.wmt_qe_data_encoder.InputFields[PositiveInt]'>: attribute lookup InputFields[PositiveInt] on kiwi.data.encoders.wmt_qe_data_encoder failed你知道这是因为什么吗？非常感谢！

[2021-03-22 04:51] leileilin commented on #95
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

        不好意思，已经解决了，当我用gpu训练的时候不会报这个错误。

                                1299192319

                                    ***@***.***

        签名由
        网易邮箱大师
        定制

    On 3/22/2021 ***@***.***> wrote：

    font{
        line-height: 1.6;
    }
    ul,ol{
        padding-

[2021-03-23 05:53] leileilin commented on #95
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

    font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

        不好意思，已经解决了，当我用cpu训练时不会报这个错误，但是当我用一个gpu训练时会报错：TypeError: can't convert cuda:0 device type tensor to numpy. Use Tensor.cpu() to copy the tensor to h

[2021-03-30 10:22] zh25714 opened #96 "I suppose that the code comment should be remove."
I suppose that the code comment should be removed.

`# token_type_ids[i, t_len : t_len + s_len] = 1`    in  kiwi/systems/encoders/xlmroberta.py line 424  interleave_input method.

[2021-04-21 09:47] Roshanson commented on #95
在 kiwi/metrics/functions.py:96    加上如下代码

[code]

这个问题在使用多块GPU的时候我也遇到了。。   也不知道怎么改 = =

[2021-04-22 05:32] zhaofuchen commented on #95
抱歉额，我也没遇到过，帮不了你。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年4月21日(星期三) 下午5:47
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbs

[2021-04-22 11:26] tervingo opened #97 "Error at Predictor Training: "Predictor is not a subclass of QESystem""
Hi,

I am trying to train a predictor model with OpenKiwi 2.0.0 on Windows. I am using the command 'kiwi train config\predictor.yaml'. I am getting the error:

**Predictor is not a subclass of QESystem; make sure its class is decorated with `@QESystem.register_subclass` (type=value_error)
system -> load
  Must provide `class_name` or `load` (type=value_error)**

The predictor.yaml file has the lin

[2021-04-27 05:35] leileilin commented on #95
改了依旧报错啊

[2021-05-10 07:15] genbei opened #98 "OSError: Can't load weights for 'xlm-roberta-base'."
I want to use xlm-r, but I can't load it. I want to load it manually, but I don't know how to change the code. I tried, but I can't. I hope you can help me. very thankful
`
OSError: Can't load weights for 'xlm-roberta-base'. Make sure that:

- 'xlm-roberta-base' is a correct model identifier listed on 'https://huggingface.co/models'

- or 'xlm-roberta-base' is the correct path to a directory conta

[2021-05-10 07:20] zhaofuchen commented on #98
代码中有xlm-r示例配置文件：
‍

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月10日(星期一) 下午3:16
***@***.***&gt;;
***@***.***&gt;;
主题:&nbsp;[Unbabe

[2021-05-10 07:23] zhaofuchen commented on #98
源代码中有示例配置文件：

到文档中找配置文件使用说明：
https://unbabel.github.io/OpenKiwi/usage.html

希望能帮到你

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月10

[2021-05-10 07:28] zhaofuchen commented on #97
what do you want ? predictor model is a language model, which is the first step of the estimator predictor theory. This model is used to obtain language features, and can not implement QE function

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"

[2021-05-10 07:41] genbei commented on #98
我的意思是我手动下载 了'xlm-roberta-base'模型，但是我不知道应该放在哪里，代码才能正确下载。
因为互联网链接问题，我无法直接加载模型

[2021-05-10 07:57] zhaofuchen commented on #98
有两种方式：
1、不用修改代码，你可以调试源代码。可以找到下载到操作系统的目录位置，手动将你下载好的模型拷贝过来并修改名称即可，比如说我电脑上是这里

2、直接修改源代码，请参考帮助手册：
https://huggingface.co/transformers/model_doc/auto.html

将模型位置改为你电脑上的模型路径即可。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"

[2021-05-10 08:43] genbei commented on #98
我第一次使用预训练模型，我真的没有找到 目录位置 ，非常抱歉再次打扰你，这是错误报告
`Traceback (most recent call last):
  File "/home/miniconda3/envs/kiwi/bin/kiwi", line 8, in <module>
    sys.exit(main())
  File "/home/miniconda3/envs/kiwi/lib/python3.7/site-packages/kiwi/__main__.py", line 21, in main
    return kiwi.cli.cli()
  File "/home/miniconda3/envs/kiwi/lib/python3.7/site-packages/kiwi/cli.py", line 84, in cli
    train.train_

[2021-05-10 08:46] zhaofuchen commented on #98
源代码位置在这里。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月10日(星期一) 下午4:43
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [

[2021-05-10 08:53] genbei commented on #98
看不到，你好像链接没放进来

[2021-05-10 08:55] zhaofuchen commented on #98
请查收附件

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月10日(星期一) 下午4:53
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [Unba

[2021-05-10 08:57] genbei commented on #98
没有附件：(

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月10日(星期一) 下午4:55
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [Unb

[2021-05-10 08:59] zhaofuchen commented on #98
这么神奇吗？又发了一遍。试试。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月10日(星期一) 下午4:58
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp

[2021-05-10 09:02] genbei commented on #98
你能看到你上传的附件吗？我看不到

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月10日(星期一) 下午5:00
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbs

[2021-05-10 09:04] zhaofuchen commented on #98
看不见，邮箱系统出bug了，给我发一个别的邮箱，我直接发到你新的邮箱里。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月10日(星期一) 下午5:02
***@***.***&gt;;
***@***.******@

[2021-05-10 09:27] zhaofuchen commented on #98
算了，我打字把:代码位置：

openkiwi2.1.0/kiwi/systems/encoders/xlmroberta.py
此文件的149-157行代码。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月10日(

[2021-05-10 10:58] genbei commented on #98
`        if pre_load_model:
            self.xlm_roberta = XLMRobertaModel.from_pretrained(
                "xlm-roberta-base", output_hidden_states=True
            )
        else:
            xlm_roberta_config = XLMRobertaConfig.from_pretrained(
                "xlm-roberta-base", output_hidden_states=True
            )
            self.xlm_roberta = XLMRobertaModel(xlm_roberta_config)
`
其中xlm-

[2021-05-11 03:25] zhaofuchen commented on #98
XLMRobertaModel.from_pretrained( "xlm-roberta-base", output_hidden_states=True )&nbsp;
上面打断点，调试进入方法，你就知道他加载的本地模型路径，然后把你的模型拷贝过去就行了。
可以用vscode调试
因为具体是哪个位置不也不记得了，肯定不是你放的位置，大概在C:\Users\Administrator\.cache\huggingface这里，具体还是以调试为准。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-05-11 08:47] genbei commented on #98
因为我的程序是在linux服务器上跑的，我再研究一下吧

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月11日(星期二) 中午11:25
***@***.***&gt;;
***@***.******@***.***&

[2021-05-12 01:14] #98 closed, assigned to nobody

[2021-05-12 07:10] genbei opened #99 "open cannot unpack non-iterable NoneType object"
when i run `kiwi train config/xlmroberta.yaml`
I have encountered the following problems

Exception ignored in: <function tqdm.__del__ at 0x7f607a0703b0>
Traceback (most recent call last):
  File "/home/miniconda3/envs/kiwi/lib/python3.7/site-packages/tqdm/std.py", line 1145, in __del__
  File "/home/miniconda3/envs/kiwi/lib/python3.7/site-packages/tqdm/std.py", line 1299, in close
  File "/home/m

[2021-05-12 10:12] zhaofuchen commented on #99
你看下单词个数是不是超过了512个字符，因为模型的长度是wordembeding长度是512，超过了会报错的。
但我不确定一定就是这个引起的，可以试试。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月12日(星期三)

[2021-05-13 08:55] genbei commented on #99
你是对的。另外我有一个问题，我运行了xlmroberta.yaml后就得到了模型预测的sentence_scores，这就是最后预测的hter分数了吧。
我打开predict.yaml看到里面有

load：best_model.torch

请问这是哪里得到的，是官方给的预测器-估计器模型吗，还是xlmroberta.yaml运行之后也能生成所需要的模型？
因为我运行时遇到了以下问题

  File "/home/miniconda3/envs/kiwi/bin/kiwi", line 8, in <module>
    sys.exit(main())
  File "/home/miniconda3/envs/kiwi/lib/python3.7/site-packages/kiwi/__main__.py", line 21, in main
    return kiwi.cl

[2021-05-14 02:13] zhaofuchen commented on #99
1、best_model.torch这个就是你自己训练的模型啊，自己找找应该就在运行目录下，类似*.torch的文件。
2、你训练时包含了test数据，其中包含了标准答案。当训练完成后，系统会自动调用模型预测结果。然后就根据不同的评估指标比较预测结果和标准答案的相关度。以此来评估模型的好坏。所以你说的sentence_scores hter就是最后的结果，但只针对测试数据的。如果要预测其他数据，可以直接调用predict接口就行。
不知道我说清楚了没，希望能帮到你。

[2021-05-14 03:25] genbei commented on #99
非常感谢你的回答，但是并没有生成类似*.torch的文件，我看在我进行训练时生成了 runs文件夹 对于这个文件夹有点奇怪
里面只有预测的分数和检查点 类似/home/OpenKiwi-master/runs/0/fe795cd083704c77abbc920f38a40b1d/checkpoints 下的model_epoch=05-val_PEARSON=0.40_v0.ckpt

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"

[2021-05-14 03:39] zhaofuchen commented on #99
就是这个文件

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月14日(星期五) 中午11:25
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [Un

[2021-05-14 06:46] genbei commented on #99
但是我依旧遇到下面的问题，请问预测的数据格式有要求吗，不就是之前数据yaml文件里包含的test吗

  File "/home/miniconda3/envs/kiwi/bin/kiwi", line 8, in <module>
    sys.exit(main())
  File "/home/miniconda3/envs/kiwi/lib/python3.7/site-packages/kiwi/__main__.py", line 21, in main
    return kiwi.cli.cli()
  File "/home/miniconda3/envs/kiwi/lib/python3.7/site-packages/kiwi/cli.py", line 84, in cli
    train.train_from_configuration(config_di

[2021-05-14 07:48] zhaofuchen commented on #99
你这还是在训练啊，请看文档：
https://unbabel.github.io/OpenKiwi/usage.html 页面 predicting部分。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月14日(星期五

[2021-05-14 08:02] genbei commented on #99
非常感谢，是我大意了！
祝生活愉快：）

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月14日(星期五) 下午3:48
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&

[2021-05-15 06:48] genbei commented on #99
打扰了，我想问这个wordembeding的长度我想改大一点，具体设置在哪里，代码我目前还没找到，因为我的测试集有的太长没办法预测

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月12日(星期三) 晚上6:13
***

[2021-05-19 02:18] zhaofuchen commented on #99
说实话，我也不是很懂，只能给你些提示：
https://huggingface.co/xlm-roberta-base/resolve/main/config.json
这里是xlm-roberta预训练模型的配置信息，其中  "max_position_embeddings": 514 这项长度为514。你可以试试把他改为1024试试。
修改代码应该是类似下面这种：
if pre_load_model:
            self.xlm_roberta = XLMRobertaModel.from_pretrained(
                self.config.model_name, output_hidden_states=True,
                 max_position_embeddings = 1024
            )

[2021-05-19 02:48] #99 closed, assigned to nobody

[2021-05-24 02:16] leileilin commented on #99
你好，我也遇到了相应的问题，这里的单词个数是指每行的单词个数吗？如果是的话，我记得不是超过512会自动砍掉后面的部分，还是这个512需要我们自己控制？
非常感谢！

[2021-05-24 02:20] zhaofuchen commented on #99
单个句子单词超过512字符没有做剪裁处理，有几种处理方法：
1、自己控制不要让单句单词个数超过。
2、配置个数为1024，但我没试过，你可以试试
https://huggingface.co/xlm-roberta-base/resolve/main/config.json
这里是xlm-roberta预训练模型的配置信息，其中 "max_position_embeddings": 514 这项长度为514。你可以试试把他改为1024试试。
修改代码应该是类似下面这种：
if pre_load_model:
self.xlm_roberta = XLMRobertaModel.from_pretrained(
self.config.model_name, output_hidden_states=True,
max_position_embeddings = 1024
)
else:
x

[2021-05-24 03:03] leileilin commented on #99
问一下，单句的单词个数是分别针对中英文的句子成立的吗？我刚刚测了我的中英文句子长度并没有超过512。
例子：（中国 作为 世界 上 最大 的 发展中国家 ， 任何 时候 都 是 维护 世界 粮食安全 的 积极 力量 。 ）（19个）
而且我的出错是如下的过程：
Epoch 1:  12%|███████▎                                                     | 482/4006
是在正确训练的一段时间后产生如上错误。

[2021-05-24 03:06] zhaofuchen commented on #99
那可能不是这个原因导致的，你可以用vscode调试，找下原因。不好意思，只能帮你到这了。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Unbabel/OpenKiwi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月24日(星期一) 中午11:03
***@***.***&gt;;
***@**

[2021-05-24 03:07] leileilin opened #100 "TypeError: cannot unpack non-iterable NoneType object"
**Describe the bug**
when i run the usage of bert like openkiwi doucmentation suggests, `run_info = train_from_file('bert.yaml')` .
i have encouterd the following problem.

Epoch 1:  12%|███████▎                                                     | 482/4006 [01:50<13:31,  4.34it/s, loss=319.510, PEARSON+target_tags_F1_MULT+WMT19_MCC=0.915]Traceback (most recent call last):
  File "bert_train.py",

[2021-05-24 03:10] leileilin commented on #99
好的，非常感谢，可能我的错误信息没有描述的很精确，具体的错误信息我新开了一个问题，那里应该讲的更详细。

[2021-05-24 12:22] leileilin commented on #100
i have solved that. It's really a data problem.

[2021-05-24 12:22] #100 closed, assigned to nobody

[2021-05-28 16:04] Balakiranred opened #101 "The prediction process is not complete by Predictor Estimator."
Issue:
The pretrained Predictor Estimator is not able to generate all the 3 files (Source_tags, gap_tags and hter)
Only one file (Source_tags) is generated.

Here is what I have done.
1. From Git link I have downloaded the code and configured on my server.
2. Completed the setup.
3. Did try to run the predict.yaml from CLI.
4. That was not working the model was not able to load from best_model.tor

[2021-06-02 14:50] Balakiranred commented on #101
Can some one look in to it and suggest me.
Thanks
Bala.

[2021-06-02 18:21] captainvera commented on #97
Hello @tervingo,

Sorry for my late response! As @zhaofuchen mentioned, the Predictor is the first step of creating a predictor-estimator model. This means that it can't be trained with the Quality Estimation training pipeline.

Instead, this step is handled by the `pretrain` pipeline. Doing `kiwi pretrain config\predictor.yaml` should work!

you can read more at: https://unbabel.github.io/OpenKiw

[2021-06-02 18:36] captainvera commented on #101
Hey @Balakiranred,

I am trying to reproduce your issue on my end. Honestly it's been a long time since I myself have used Openkiwi versions <2.0 and nothing jumps to mind as the reason for this to not work.

While I try to reproduce this issue, could you expand on your point 3.? Why couldn't you use a yaml to make the prediction?

[2021-06-02 18:45] captainvera commented on #96
Hello @zh25714 ,

Yeah, you are right, this isn't very clear. In reality this is not a problem because XLMR does not use token_type_ids. That is why it's commented out and the above sentence mentions that XLMR does not use NSP (next sentence prediction). You can also confirm [here](https://huggingface.co/transformers/model_doc/xlmroberta.html#transformers.XLMRobertaTokenizerFast.create_token_type_

[2021-06-02 18:50] captainvera commented on #92
Hello @lluisg,
sorry for the (very) late response!

Everything seems alright in your settings and proposed setup. You could play a bit more with the hyper-params but nothing jumps out to me as obviously wrong.

As for your original question "is it possible to obtain a similar result using only parallel data? " I do not know! It is definitely an interesting research question!

Traditionally the com

[2021-06-02 18:54] captainvera commented on #101
Ah, I have found exactly the source of the problem.

You see, for our WMT19 submission we trained specific models for source tags and for target tags in order to maximize Pearson on the two separate tasks. The source model will only produce source tags and the target model will produce sentence-level scores + target tags.

Your issue here is that you are using this source model. If you change your

[2021-06-03 12:19] Balakiranred commented on #101
Hi Captainvera,

Thank you very much for your reply.
The solution worked out for me and PE is able to generate all the tag, gap and sentence scores files.

Regards
Bala.

[2021-06-07 15:20] captainvera commented on #101
I'm happy to know your issue is solved!

[2021-06-07 15:20] #101 closed, assigned to nobody

[2021-06-07 15:22] #96 closed, assigned to nobody

[2021-06-07 15:42] zh25714 commented on #96
Thanks for your reply. I am a student studying QE through your kiwi system. That‘s good achitecture! I will make a PR if it's needed.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Miguel ***@***.***&gt;;
发送时间: 2021年6月3日(星期四) 凌晨2:46
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [Unbabel/OpenKiwi] I suppose that the code comment should be remove. (#96)

Hello @zh2

[2021-06-17 12:38] yym6472 opened #102 "OpenKiwi always download the tokenizer files for XLMRoberta even if a local path is configured."
When I am training the XLM-Roberta based QE system, I pre-downloaded the pre-trained XLM-Roberta model from huggingface's library and modified the field `system.model.encoder.model_name` in `xlmroberta.yaml` from the default `xlm-roberta-base` to my local path that contains the pre-downloaded XLM-Roberta model. However, when running the code, I found OpenKiwi will always download the files `config

[2021-07-02 04:55] baoloc97 opened #103 "Do openKiwi have confident score?"
I use openNMT for translate but its dont have confident score when translate so they suggest me use openkiwi. But i dont see confident score in openKiwi too ? Confident score it mean how many percent that my model think that sentence is predict right

[2021-07-12 09:07] Qbop981001 opened #104 "Error Pre-Training Predictor: "model -> encoder -> encode_source extra fields not permitted (type=value_error.extra)""
When I use the predictor.yaml file in config/ to pretrain the predictor model, I got this error. The original message is:

As the message shows, I assume it is the error of model -> encoder ->encode_source, but in fact I did not revise the original example predictor.yaml file in this project. In the original file, the value of encode_source is set to "false". I tried to override it to "true", and

[2021-07-20 11:21] captainvera commented on #104
hey @Qbop981001!

Sorry it took me a while to get a look at this. you are absolutely correct, it is indeed a bug in our example files.

The predictor encoder by default always encodes source, as such, that flag does not make sense and is probably a leftover from another config.

The correct way to fix this is to simply remove the flag from the yaml :)

Let me know if you have any other questions!

[2021-07-20 11:25] captainvera commented on #102
Hello @yym6472,

Sorry I took a while to respond.

I tested what you are saying, and you are indeed correct. This version of Openkiwi was initially built when transformers was in version < 2 or 3. The transformers library still had a lot of quirks when working with models other than BERT and a couple others.

This was probably introduced to avoid bugs when loading finetuned versions of these model

[2021-07-20 11:30] captainvera commented on #103
Hello @baoloc97,

Sorry I took a while to respond.

Openkiwi does not produce a confidence score in that sense. When you are talking about a confidence score from a MT model, it can be thought of as the uncertainty of the model on inference time. It can be obtained with methods such as monte carlo dropout and similar.

On the other hand, what OpenKiwi does it Quality Estimation, it provides models

[2021-07-21 06:49] yym6472 commented on #102
Thanks for your reply! I have proposed a PR #105 that simply removes the above-mentioned two lines.

[2021-08-11 03:30] leileilin opened #106 "some confusions"
after i trained my model successfully, the result reports shows the ensemble row .
so anyone konw if it does ensemble?
thank you.

[2021-08-21 14:25] mtreviso opened #107 "pkgutil.iter_modules() error: 'PosixPath' object has no attribute 'startswith'"
**Describe the bug**
`pkgutil.iter_modules` breaks if a `Path` is passed instead of a `str` on some versions of python. This is due to a regression in Python. See the original issue report here: https://bugs.python.org/issue44061

**To Reproduce**
Try:
[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 20.04.2 LTS
 - OpenKiwi version: 2.1.0
 - Python version: 3.8.10

[2021-11-02 05:28] gaohuan2015 opened #108 "Got exception when import kiwi"
**Describe the bug**
I had already installed openwiki in a conda env. When I import kiwi, I got this kind of exception
ImportError: cannot import name 'SAVE_STATE_WARNING' from 'torch.optim.lr_scheduler'

**To Reproduce**
Steps to reproduce the behavior:
1. Conda create -n kiwienv python=3.8
2. pip install openkiwi
3. import kiwi  and Run  this code
4. ImportError: cannot import name 'SAVE_STATE_W

[2022-04-03 07:34] Duonghailee opened #109 "Seems that maximum token support for a sentence is 512?"

[2022-04-03 09:03] Blinkblade opened #110 "PicklingError: Can't pickle <class 'kiwi.data.encoders.wmt_qe_data_encoder.InputFields[PositiveInt]'>: attribute lookup InputFields[PositiveInt] on kiwi.data.encoders.wmt_qe_data_encoder failed"
**Describe the bug**
In Windows10,when I try to train_from_file in my Jupyter,I will fail in "Validation sanity check" and the erro is PicklingError:"Can't pickle <class 'kiwi.data.encoders.wmt_qe_data_encoder.InputFields[PositiveInt]'>: attribute lookup InputFields[PositiveInt] on kiwi.data.encoders.wmt_qe_data_encoder failed".
But when I run it in Linux with the same files,it will be all right w

[2022-04-04 06:39] Duonghailee commented on #99
Ni hao,

May I ask how did you resolve the problem? It seems that the tool supports parsing only maximum 512 tokens length segments and we cannot re-configure it somehow?

Thanks

[2022-04-07 12:21] #109 closed, assigned to nobody

[2022-04-20 23:02] jlx339 commented on #110
I encountered the same error, please help.

[2022-04-22 08:18] dmar1n commented on #110
Hi!

I also encountered a 'PicklingError' when trying to train in a multi-GPU machine. If this is your case, you can maybe set one single device with `CUDA_VISIBLE_DEVICES`. That worked for me at least.

[2022-04-25 10:07] zolastro opened #111 "Do you need to tokenize your data when using a BERT/ROBERTA model?"
Considering that these models have their own tokenization and BPE models, what is the format of the input files to train a QE model using any of this LM? Should you apply any kind of previous tokenization/casing model?

Thanks in advance for your help!

[2022-07-04 11:25] zolastro opened #113 "Pretrain config file"
I was trying to pretrain a PredictorEstimator model with parallel data as you show in your [documentation](https://unbabel.github.io/OpenKiwi/usage.html#training-and-pretraining), but I could not find any **data** yaml configuration file to use as reference. Is it somewhere in your repository?

[2022-07-13 07:35] zolastro opened #114 "What are source_pos and target_pos in the train_config.yaml?"
After training a model, a `train_config.yaml` is generated with the parameters used during that training. Under `data -> inputs ` there are some references to the `source_pos` and `target_pos` fields. What are they for?

[2022-08-17 10:39] michelleqyhqyh opened #115 "Why does it need "--model" paramter when I give a specific config?"
![image](https://user-images.githubusercontent.com/45490378/185097604-ad164b3c-8a60-4f49-94a6-dc4268f0a1fb.png)
Why does it need "--model" paramter when I give a specific config? And what does "quetch" mean in "--model" parameter?

[2022-09-12 07:15] zolastro commented on #115
Actually you do not need to specify the `--model` parameter (as long as it is defined inside your `config/xlmroberta-qyh.yaml`. Could you please share your configuration file?